<% include ../partials/header %>
<% include ../partials/compnav %>

<div class="ui container">
    <div class="showContainer">
        <div class="ui grid">
            <h1><%= competition.name %></h1>
            <div class="row">
                Starting date: <%= competition.startDate %>
            </div>
            <div class="row">
                Starting date: <%= competition.endDate %>
            </div>
            <div class="ui divider"></div>
            <div class="row">
                <%= competition.info %>
            </div>
            <% for (let i = 0; i < competition.category.length; i++) { %>
            <div class="row">
                <%= competition.category.name + " " + competition.category.gender %>
            </div>
            <% } %>
            <% if(currentUser) { %>
            <div class="row">
                <div class="four wide collumn">
                    <form action="/competitions/<%=competition._id%>/edit" method="get">
                        <button class="ui button">Edit</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>